@font-face {
  font-family: 'Consolas';
  src: url("./fonts/Consolas.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Consolas', monospace;
}

.background {
  background-color: #0D0D0D;
  position: fixed;
  width: 200%;
  height: 200%;
  transform: translate3d(-50%, -25%, -1000px);
}

.wrapper {
  margin: 0 10%;
  min-height: 100vh;
  max-width: 620px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.content {
  margin: 2em 0 1em;
  z-index: 3;
}

h1 {
  color: #F2F2F2;
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 1em;
}

p {
  color: #BFBFBF;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 1em;
}

p a {
  color: #F2F2F2;
}

p.small {
  font-size: 1em;
}

.space:before {
  content: '';
}

.space {
  padding-bottom: 1em;
}

.album {
  border-radius: 5px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
